<div class="d-flex flex-column justify-content-evenly">
  <div class="d-flex justify-content-center">
    <h1>All Gossip</h1>
  </div>

  <div class="container d-flex flex-row justify-content-center m-2">
    <% if current_user %>
      <%= button_to 'Create Gossip', new_gossip_path, method: :get, class:'btn btn-primary' %>
    <% end %>
  </div>
  <div class="container d-flex flex-row justify-content-center m-2">
    <%= button_to 'Find by tag', tags_path, method: :get, class:'btn btn-primary' %>
  </div>

  <%= render partial: "gossip/index", locals: { gossips: @gossips } %>
</div>
