<div class="d-flex flex-column justify-content-evenly">
  <div class="d-flex justify-content-center">
    <h1>Gossip from <%= @tag.title %></h1>
  </div>
  <div class="container">
    <%#= button_to 'Create User', new_user_path, method: :get, class:'btn btn-primary' %>
    
  </div>
  <div class="d-flex flex-wrap justify-content-evenly">
    <%= render partial: "gossip/index", locals: { gossips: @gossips} %>
  </div>
</div>
