<div class="container card p-3 <%= ['card-bg-1', 'card-bg-2', 'card-bg-3', 'card-bg-4', 'card-bg-5'].sample %> text-dark">
  <h2>Contact Page</h2>
  
  <p>
    Thank you for your interest in The Gossip Project. We are always open to feedback, suggestions, 
    or any questions you may have about our platform. Your input helps us to continually improve the user experience 
    and cater to the needs of our diverse user base.
  </p>
  <p>
    You can reach us in the following ways:
  </p>

  <ul>
    <li>Email: info@gossip-project.com</li>
    <li>Phone: (123) 456-7890</li>
    <li>Mailing Address: 123 Gossip St, Storyville, NY, 12345</li>
  </ul>
  <p>
    For immediate assistance, please call us during our business hours: Monday to Friday, 9 AM to 5 PM (Eastern Time). 
    Alternatively, you can send us an email at any time and we aim to get back to you within 2 business days.
  </p>

  <p>
    We look forward to hearing from you and thank you for being a part of The Gossip Project!
  </p>
</div>
