<div class="container text-dark card p-3 <%= ['card-bg-1', 'card-bg-2', 'card-bg-3', 'card-bg-4', 'card-bg-5'].sample %>">
  
  <div class="d-flex justify-content-center">
    <h1>Welcome to The Gossip Project</h1>
  </div>
  <div>
    
    <p>
      Hello! Welcome to The Gossip Project, a place built by our team to share, discuss, and 
      enjoy the most fascinating gossips from every corner of the world. My name is Jay and I am the 
      founder of this engaging platform. I am a tech enthusiast with a knack for creating fun and intriguing online 
      spaces where people can connect, share stories, and foster a sense of community.
    </p>

    <p>
      The Gossip Project is built to be a safe, respectful, and inclusive platform where everyone can share their 
      gossips and enjoy those of others. Our team is committed to maintaining the high quality of content and ensuring 
      a positive experience for all our users. So sit back, start sharing your gossips, and let the 
      fun begin!
    </p>
  </div>
</div> 
